input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button,
#button {
    background-color: #73cefc;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

#success {
    background-color: rgb(10, 239, 10);
    padding: 5px;
    margin-top: 10px;
    color: black;
    animation: 3s disappear step-end;
    opacity: 0%;
    font-size: 1.5em;
}

@keyframes disappear {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}