{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
  <title>Error</title>
{% endblock %}

{% block body %}
  <div class="content">
    {% if err_msg %}
      <div class="err">
        <span class="err-title">Something went wrong: </span>
        <span class="err-msg">{{err_msg}}</span>
      </div>
    {% else %}
      <h4 class="err-title">Oops... Something went wrong.</h4>
    {% endif %}
    <a href="/" id="button">Go to the main page</a>
  </div>
{% endblock %}